/* =============
    End
============= */
#end{
    height: 100%;
    width: 100vw;
    margin-top: -90px;

    @include xl{
        margin-top: -180px; 
    }

    #darkPurpleWave{
        width: 100%;
        margin-bottom: -15px;
    }
    #end-content-conainter{

        @include xl{
            grid-template-columns: auto 1200px auto;
            grid-template-areas: ". end-contain .";
        }

    }

    #end-content{
        grid-area: end-contain;

        height: 100%;
        width: 100%;
        background-color: var(--darkpurple);

        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". end-text ."
                             ". end-svg .";
        row-gap: 30px;
        padding-top: 5%;
        padding-bottom: 25%;

        @include md{
            grid-template-columns: auto 45% auto auto;
            grid-template-areas: ". end-text . ."
                                 ". end-text end-svg ."
                                 ". end-text . .";
            padding-bottom: 10%;
            column-gap: 30px;
        }

        @include lg{
            grid-template-columns: auto 40% auto 4%;
            grid-template-areas: ". end-text . ."
                                 ". end-text end-svg . ."
                                 ". end-text . .";
            column-gap: 0px;
        }

        @include xl{
            grid-template-columns: auto 600px 500px auto;
            grid-template-areas: ". end-text . ."
                                 ". end-text end-svg ."
                                 ". end-text . .";
        }


        #end-text{
            grid-area: end-text;

            padding: 30px 15px;
            border: 5px white solid;
            border-radius: 80px;
            text-align: center;
            color: var(--tan);
        

            @include md{
                max-width: 450px;
            }

            @include xl{
                max-width: 550px;
            }

            #end-title{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                
                h2{

                    font-size: rem-calc(26);
                
                    @include md{
                        font-size: rem-calc(64); 
                    }
                }

                h3{
                    margin: 10px 0px;
                    font-size: rem-calc(16);
                    
                    @include md{
                        margin: 55px 0px;
                        font-size: rem-calc(24); 
                    }
                }
            }

            #end-p{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                p{
                    font-size: rem-calc(16);
                    line-height: rem-calc(20);
                    padding: 0px 10px 16px 10px;
                    
                    @include md{
                        font-size: rem-calc(18); 
                        line-height: rem-calc(25);
                        padding: 0px 16px 16px 16px;
                    }
                }
            }
        }

        #end-illustration-container{
            grid-area: end-svg;

            display: flex;
            justify-content: center;
            align-items: center;

            height: 100%;
            width: 100%;

            #end-illustrations{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 100%;

                @include md{
                    display: grid;
                    grid-template-columns:auto;
                    grid-template-areas:"end-svg-1";
                }
            }

        }

    }
    
    #closing-illustrations{
        grid-area: end-svg-1;
        width: 50%;
    
        @include md{
            width: 90%;
        }
    }
}
