/* =============
    Food
============= */

#food{
    height: 100%;
    width: 100vw;
    margin-top: -90px;

    @include xl{
        margin-top: -180px; 
    }

    #orangeWave{
        width: 100%;
        margin-bottom: -15px;
    }
    #food-container{

        @include xl{
            grid-template-columns: auto 1200px auto;
            grid-template-areas: ". food-contain .";
        }
    }

    #food-content-conainter{
        grid-area: food-contain;
        height: 100%;
        width: 100%;
        background-color: var(--lightpink);

        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". food-text ."
                             ". food-image .";
        row-gap: 30px;
        padding-top: 5%;
        padding-bottom: 25%;

        @include md{
            grid-template-columns: auto auto 45% auto;
            grid-template-areas: ". . food-text ."
                                 ". food-image food-text ."
                                 ". . food-text .";
            padding-bottom: 15%;
        }

        @include lg{
            grid-template-columns: auto auto 40% 4%;
            grid-template-areas: ". . food-text ."
                                 ". food-image food-text ."
                                 ". . food-text .";
        }

        @include xl{
            grid-template-columns: auto 500px 600px auto;
            grid-template-areas: ". . food-text ."
                                 ". food-image food-text ."
                                 ". . food-text .";
        }

        #food-text{
            grid-area: food-text;

            padding: 30px 15px;
            border: 5px white solid;
            border-radius: 80px;
            text-align: center;
            color: var(--purple);
        

            @include md{
                max-width: 450px;
            }

            @include xl{
                max-width: 550px;
            }

            #food-title{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                
                h2{

                    font-size: rem-calc(26);
                
                    @include md{
                        font-size: rem-calc(64); 
                    }
                }

                h3{
                    margin: 10px 0px;
                    font-size: rem-calc(16);
                    
                    @include md{
                        margin: 55px 0px;
                        font-size: rem-calc(24); 
                    }
                }
            }

            #food-p{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                p{
                    font-size: rem-calc(16);
                    line-height: rem-calc(20);
                    padding: 0px 10px 16px 10px;
                    
                    @include md{
                        font-size: rem-calc(18); 
                        line-height: rem-calc(25);
                        padding: 0px 16px 16px 16px;
                    }
                }
            }
        }

        #food-image-container{
            grid-area: food-image;

            display: flex;
            justify-content: center;
            align-items: center;

            height: 100%;
            width: 100%;

            #food-image-ul{
                height: 100%;
                width: 100%;

                display: grid;
                grid-template-columns: auto 200px auto;
                grid-template-areas:". image-1 .";

                @include md{
                    display: grid;
                    grid-template-columns: auto;
                    grid-template-areas: "image-1"
                                         "image-3";
                    row-gap: 10px;
                }
    
                @include lg{
                    display: grid;
                    grid-template-columns: 220px 220px;
                    grid-template-areas: ". image-1"
                                         "image-2 image-1"
                                         "image-2 image-3"
                                         ". image-3";
                    //column-gap: 30px;
                    //row-gap: 30px;
                }
            }

        }

    }

    
}
.food-svg{
    height: 100%;
    width: 100%;

}

#pink-star-top{
    grid-area: image-1;
    margin-top: -30px;
    margin-left: 150px;

    height: 100px;
    width: 100px;

    @include md{
        height: 150px;
        width: 150px;
        margin-top: -50px;
        margin-left: 110px;
    }

    // @include lg{
    //     margin-top: -60px;
    //     margin-left: 120px; 
    // }
}

#pink-star-left{
    grid-area: image-2;
    display: none;

    @include lg{
        display: list-item;

        height: 150px;
        width: 150px;
        margin-top: -50px;
        margin-left: -60px;
    }

}

#pink-star-bottom{
    grid-area: image-3;
    display: none;

    @include md{
        display: list-item;

        height: 150px;
        width: 150px;
        margin-top: 130px;
        margin-left: -45px;
    }

}

.food-image{
    background-position: center;
    background-size: cover; 
    border: solid white 5px;
    border-radius: 10%;
    height: 200px; 
    width: 200px;
}

#food-image-1{
    grid-area: image-1;
    background-image: url("../img/HC1.jpg"); 
}

#food-image-2{
    grid-area: image-2;
    background-image: url("../img/HC5.jpg");
    display: none;

    @include lg{
        display: list-item;
    } 
}
#food-image-3{
    grid-area: image-3;
    background-image: url("../img/HC2.jpg"); 
    display: none;
    
    @include md{
        display: list-item;
    }
}
// .carousel-1 {
//     // height: 200px;
//     // width: 200px;
//     //margin: 0 auto 1rem auto;
  
//     --carousel-button-color: #170724;
//     --carousel-button-bg: #fff;
//     --carousel-button-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%),
//       0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
  
//     --carousel-button-svg-width: 20px;
//     --carousel-button-svg-height: 20px;
//     --carousel-button-svg-stroke-width: 2.5;
// }

// .carousel__slide {
//     // display: flex;
//     // align-items: center;
//     // justify-content: center;
//     width: 100%;
//     padding: 0;
//     height: 100%;
// }

// .carousel__dots {
//     color: var(--white);
//     margin-top: 10px;
//     z-index: 20;
//     position: static;
// }
  
// .carousel__button.is-prev {
//     left: -1.5rem;
// }
  
// .carousel__button.is-next {
//     right: -1.5rem;
// }
  
// .carousel__button:focus {
//     outline: none;
//     box-shadow: 0 0 0 4px #A78BFA;
// }
  
// .carousel__slide {
//     opacity: 0.5;
//     padding: 0;
//     margin: 0.25rem;
//     width: 96px;
//     height: 64px;
// }
// .carousel__slide img {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//     border-radius: 4px;
// }














// #food{
//     height: 100%;
//     width: 100vw;
//     margin-top: -90px;

//     #orangeWave{
//         width: 100%;
//         margin-bottom: -15px;
//     }

//     .food{
//         height: 100%;
//         width: 100%;
//         display: flex;
//         padding-bottom: 15%;
//         background-color: var(--lightpink);

//         display: grid;
//         grid-template-columns: 16px auto 16px;
//         grid-template-areas: ". food-text ."
//                              ". food-image .";
//         row-gap: 20px;

//         @include md{
//             grid-template-columns: auto 50%;
//             grid-template-areas: "food-image food-text";
//         }

//         >div{
//             grid-area: food-image;
//             //width: 50vw;
//             //padding: 2vh 2vw;
//             display: flex;
//             align-items: center;
//             justify-content: center;

//             ul{
//                 display: grid;
//                 grid-template-columns: auto;
//                 grid-template-areas: "gallery-1";


//                 @include md{
//                     grid-template-columns: auto;
//                     grid-template-rows: repeat(2, auto);
//                     grid-template-areas: ". gallery-1"
//                                          "gallery-2 gallery-1"
//                                          "gallery-2 gallery-3"
//                                          ". gallery-3";

//                     gap: 10%;
//                 }
    
//                     li {
//                         background-position: center;
//                         background-size: cover;
//                        // margin: 2vh 1vw;
//                         border: solid white 3px;
//                         border-radius: 10%;
//                     }
    
//                     #gallery-1 {
//                         background-image: url("../img/HC1.jpg");
//                         grid-area: gallery-1;
//                         width: 150px;
//                         height: 150px;

//                         // svg{
//                         //     width: 50px;
//                         // }
//                     }

//                     #gallery-2 {
//                         background-image: url("../img/HC5.jpg");
//                         grid-area: gallery-2;
//                         width: 150px;
//                         height: 150px;
//                         display: none;

//                         @include md{
//                             display: block;
//                         }

//                         // svg{
//                         //     width: 100%;
//                         // }
//                     }
    
//                     #gallery-3 {
//                         background-image: url("../img/HC2.jpg");
//                         grid-area: gallery-3;
//                         width: 150px;
//                         height: 150px;
//                         display: none;

//                         @include md{
//                             display: block;
//                         }

//                         // svg{
//                         //     width: 100%;
//                         // }
//                     }
//             }
//         }
//         aside{
//             grid-area: food-text;
//             //width: 50vw;
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             color: var(--purple);
//             div{
//                 //width: 50%;
//                 padding: 70px 15px;
//                 border: 5px white solid;
//                 border-radius: 80px;
//                 text-align: center;

//                 h2{
//                     font-size: rem-calc(26);

//                     @include md{
//                         font-size: rem-calc(64); 
//                     }
//                 }

//                 h3{
//                     margin: 25px 0px;
//                     font-size: rem-calc(16);

//                     @include md{
//                         margin: 55px 0px;
//                         font-size: rem-calc(24); 
//                     }
//                 }

//                 p{
//                     font-size: rem-calc(16);
//                     line-height: rem-calc(20);
//                     padding: 0px 10px 16px 10px;

//                     @include md{
//                         font-size: rem-calc(18); 
//                         line-height: rem-calc(25);
//                         padding: 0px 16px 16px 16px;
//                     }
//                 }
//             }
//         }
//     }
// }

// #food{
//     height: 100%;
//     width: 100vw;
//     margin-top: -90px;

//     #orangeWave{
//         width: 100%;
//         margin-bottom: -15px;
//     }

//     .food{
//         height: 100%;
//         width: 100%;
//         display: flex;
//         padding-bottom: 15%;
//         background-color: var(--lightpink);

//         display: grid;
//         grid-template-columns: 16px auto 16px;
//         grid-template-areas: ". food-text ."
//                              ". food-image .";
//         row-gap: 20px;

//         @include md{
//             grid-template-columns: auto 50%;
//             grid-template-areas: "food-image food-text";
//         }

//         >div{
//             grid-area: food-image;
//             //width: 50vw;
//             //padding: 2vh 2vw;
//             display: flex;
//             align-items: center;
//             justify-content: center;

//             ul{
//                 display: grid;
//                 grid-template-columns: auto;
//                 grid-template-areas: "gallery-1";


//                 @include md{
//                     grid-template-columns: auto auto;
//                     grid-template-rows: repeat(2, auto);
//                     grid-template-areas: ". gallery-1"
//                                          "gallery-2 gallery-1"
//                                          "gallery-2 gallery-3"
//                                          ". gallery-3";

//                     gap: 10%;
//                 }
    
//                     li {
//                         background-position: center;
//                         background-size: cover;
//                        // margin: 2vh 1vw;
//                         border: solid white 3px;
//                         border-radius: 10%;
//                     }
    
//                     #gallery-1 {
//                         background-image: url("../img/HC1.jpg");
//                         grid-area: gallery-1;
//                         max-width: 150px;
//                         max-height: 150px;

//                         // svg{
//                         //     width: 50px;
//                         // }
//                     }

//                     #gallery-2 {
//                         background-image: url("../img/HC5.jpg");
//                         grid-area: gallery-2;
//                         max-width: 150px;
//                         max-height: 150px;
//                         display: none;

//                         @include md{
//                             display: block;
//                         }

//                         // svg{
//                         //     width: 100%;
//                         // }
//                     }
    
//                     #gallery-3 {
//                         background-image: url("../img/HC2.jpg");
//                         grid-area: gallery-3;
//                         max-width: 150px;
//                         max-height: 150px;
//                         display: none;

//                         @include md{
//                             display: block;
//                         }

//                         // svg{
//                         //     width: 100%;
//                         // }
//                     }
//             }
//         }
//         aside{
//             grid-area: food-text;
//             //width: 50vw;
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             color: var(--purple);
//             div{
//                 //width: 50%;
//                 padding: 70px 15px;
//                 border: 5px white solid;
//                 border-radius: 80px;
//                 text-align: center;

//                 h2{
//                     font-size: rem-calc(26);

//                     @include md{
//                         font-size: rem-calc(64); 
//                     }
//                 }

//                 h3{
//                     margin: 25px 0px;
//                     font-size: rem-calc(16);

//                     @include md{
//                         margin: 55px 0px;
//                         font-size: rem-calc(24); 
//                     }
//                 }

//                 p{
//                     font-size: rem-calc(16);
//                     line-height: rem-calc(20);
//                     padding: 0px 10px 16px 10px;

//                     @include md{
//                         font-size: rem-calc(18); 
//                         line-height: rem-calc(25);
//                         padding: 0px 16px 16px 16px;
//                     }
//                 }
//             }
//         }
//     }
// }