/* =============
    Food
============= */

#food{
    height: 100%;
    width: 100vw;
    margin-top: -90px;

    @include xl{
        margin-top: -180px; 
    }

    #orangeWave{
        width: 100%;
        margin-bottom: -15px;
    }
    #food-container{

        @include xl{
            grid-template-columns: auto 1200px auto;
            grid-template-areas: ". food-contain .";
        }


        @include xl{
            grid-template-columns: auto 4000px auto;
            grid-template-areas: ". food-contain .";
        }
    }

    #food-content-conainter{
        grid-area: food-contain;
        height: 100%;
        width: 100%;
        background-color: var(--lightpink);

        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". food-text ."
                             ". food-image .";
        row-gap: 30px;
        padding-top: 5%;
        padding-bottom: 25%;

        @include md{
            grid-template-columns: auto auto 45% auto;
            grid-template-areas: ". . food-text ."
                                 ". food-image food-text ."
                                 ". . food-text .";
            padding-bottom: 15%;
        }

        @include lg{
            grid-template-columns: auto auto 40% 4%;
            grid-template-areas: ". . food-text ."
                                 ". food-image food-text ."
                                 ". . food-text .";
        }

        @include xl{
            grid-template-columns: auto 500px 600px auto;
            grid-template-areas: ". . food-text ."
                                 ". food-image food-text ."
                                 ". . food-text .";
        }


        #food-text{
            grid-area: food-text;

            padding: 30px 15px;
            border: 5px white solid;
            border-radius: 80px;
            color: var(--purple);
        

            @include md{
                max-width: 450px;
            }

            @include xl{
                max-width: 550px;
            }

            #food-title{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                
                h2{

                    font-size: rem-calc(26);
                    margin: 10px 0px;
                
                    @include md{
                        font-size: rem-calc(64); 
                        margin: 55px 0px;
                    }
                }
            }

            #food-p{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                p{
                    font-size: rem-calc(16);
                    line-height: rem-calc(20);
                    padding: 0px 10px 16px 10px;
                    font-weight: 700;
                    
                    @include md{
                        font-size: rem-calc(18); 
                        line-height: rem-calc(25);
                        padding: 0px 16px 16px 16px;
                    }
                }

                #food-list{
                    font-family: 'Montserrat', sans-serif;
                    padding: 10px 16px 16px 16px;
    
                }
            }
        }

        #food-image-container{
            grid-area: food-image;

            display: flex;
            justify-content: center;
            align-items: center;

            height: 100%;
            width: 100%;

            #food-image-ul{
                height: 100%;
                width: 100%;

                display: grid;
                grid-template-columns: auto 200px auto;
                grid-template-areas:". image-1 .";

                @include md{
                    display: grid;
                    grid-template-columns: auto;
                    grid-template-areas: "image-1"
                                         "image-3";
                    row-gap: 10px;
                }
    
                @include lg{
                    display: grid;
                    grid-template-columns: 220px 220px;
                    grid-template-areas: ". image-1"
                                         "image-2 image-1"
                                         "image-2 image-3"
                                         ". image-3";
                }
            }

        }

    }

    
}
.food-svg{
    height: 100%;
    width: 100%;

}

#pink-star-top{
    grid-area: image-1;
    margin-top: -30px;
    margin-left: 150px;

    height: 100px;
    width: 100px;

    @include md{
        height: 150px;
        width: 150px;
        margin-top: -50px;
        margin-left: 110px;
    }
}

#pink-star-left{
    grid-area: image-2;
    display: none;

    @include lg{
        display: list-item;

        height: 150px;
        width: 150px;
        margin-top: -50px;
        margin-left: -60px;
    }

}

#pink-star-bottom{
    grid-area: image-3;
    display: none;

    @include md{
        display: list-item;

        height: 150px;
        width: 150px;
        margin-top: 130px;
        margin-left: -45px;
    }

}

.food-image{
    background-position: center;
    background-size: cover; 
    border: solid white 5px;
    border-radius: 10%;
    height: 200px; 
    width: 200px;
}

#food-image-1{
    grid-area: image-1;
    background-image: url("../img/HC1.jpg"); 
}

#food-image-2{
    grid-area: image-2;
    background-image: url("../img/HC5.jpg");
    display: none;

    @include lg{
        display: list-item;
    } 
}
#food-image-3{
    grid-area: image-3;
    background-image: url("../img/HC2.jpg"); 
    display: none;
    
    @include md{
        display: list-item;
    }
}

.food-fancybox{
    height: 200px;
    width: 200px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: rem-calc(20);
    color: transparent;
}

.fancybox__container {
    --fancybox-bg: rgba(46, 24, 69, 0.85);
}
.fancybox__container .fancybox__content {
    box-sizing: content-box;
    padding: 1rem;
    background: #fff;
  
    border-radius: 6px;
    box-shadow: 0 8px 23px rgb(0 0 0 / 50%);
}