/* =============
    Hero
============= */

#hero-2{
    height: 100%;
    width: 100%;

    margin-top: 60px;

    @include md{
        
    margin-top: 100px;
    }

    #hero-svg{
        height: 50%;
        width: 50%;
        float: right;
        padding-right: 40px;

        @include md{
            padding-right: 40px;
        }
    }

    #hero-image{
        background-image: url("../img/hero.jpg");
        background-position: center;
        background-size: cover;
        height: 100vh;
        width: 100vw;
    }

    #tanWave{
        width: 100%;
        margin-top: -40px;

        @include md{
            margin-top: -50px;
        }

        @include lg{
            margin-top: -80px;
        }
        @include lg{
            margin-top: -80px;
        }

        @include lg{
            margin-top: -180px;
        }
    }
}