/* =============
    Hero
============= */

#hero-2{

    img{
        width: 100vw;
    }

    #tanWave{
        width: 100%;
        margin-top: -40px;

        @include md{
            margin-top: -40px;
        }

        @include lg{
            margin-top: -60px;
        }
        @include lg{
            margin-top: -85px;
        }
    }
}