/* =============
    Intro
============= */

#intro{
    height: 100%;

    #intro-container{
        background-color: var(--tan);
        height: 100%;
        //width: 100%;
        //display: grid;
        margin-top: -19px;
        padding-bottom: 20%;
        padding-left: 30px;
        padding-right: 30px;
    

        @include md{
            padding-bottom: 15%;  
        }
        // grid-template-areas: 
        // ". text ."
        // ". svg .";
        // grid-template-columns:repeat(3, 1fr);
    
        // @include md{
        //     grid-template-columns:repeat(2, 1fr);
        //     grid-template-areas: 
        //     "text svg";
        // }
    }

    .intro{
        //grid-area: text;
        height: 100%;
        width: 100%;
        padding-top: 10%;
       // padding-bottom: 15%;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        justify-content: space-evenly;

        @include md{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            justify-content: space-evenly;
            padding-top: 5%;
        }

        aside{
            //width: 80vw;
            display: flex;
            align-items: center;
            justify-content: center;

            @include md{
                //width: 40vw;
            }

            div{
                color: var(--darkpurple);
                padding: 50px 20px;
                border: 5px white solid;
                border-radius: 80px;
                text-align: center;

                @include md{
                    padding: 80px 30px;
                    max-width: 450px;
                    //margin-left: 40px;
                }

                @include lg{
                    max-width: 500px;
                }

                h2{
                    font-size: rem-calc(26);

                    @include md{
                        font-size: rem-calc(64); 
                    }
                }

                h3{
                    margin: 25px 0px;
                    font-size: rem-calc(16);

                    @include md{
                        margin: 55px 0px;
                        font-size: rem-calc(24); 
                    }
                }

                p{
                    font-size: rem-calc(16);
                    line-height: rem-calc(20);
                    padding: 0px 10px 16px 10px;

                    @include md{
                        font-size: rem-calc(18); 
                        line-height: rem-calc(25);
                        padding: 0px 16px 16px 16px;
                    }
                }
            }
        }

        #crab{

            //grid-area: svg;
            margin-top: 30px;
            width: 50%;
            height: 100%;

            // display: flex;
            // justify-content: center;
            // align-items: center;
            
                @include md{
                    height: 100%;
                    width: 30%;
                    margin-top: 0px;
                    // display: flex;
                    // justify-content: center;
                    // align-items: center;
                }
                @include lg{
                    width: 35%;
                }

                // #hermit3{
                //     //width: 40%;
                // }
        }         
    }
}