/* =============
    Intro
============= */

#intro{
    height: 100%;
    width: 100vw;
    margin-top: -20px;

    // @include lg{
    //     margin-top: -80px;
    // }

    #intro-content-conainter{

        @include xl{
            grid-template-columns: auto 1200px auto;
            grid-template-areas: ". intro-contain .";
        }

    }

    #intro-content{
        grid-area: intro-contain;

        height: 100%;
        width: 100%;
        background-color: var(--tan);

        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". intro-text ."
                             ". intro-svg .";
        row-gap: 30px;
        padding-top: 5%;
        padding-bottom: 25%;

        @include md{
            grid-template-columns: auto 45% auto auto;
            grid-template-areas: ". intro-text . ."
                                 ". intro-text intro-svg ."
                                 ". intro-text . .";
            padding-bottom: 15%;
            column-gap: 30px;
        }

        @include lg{
            grid-template-columns: auto 40% auto 4%;
            grid-template-areas: ". intro-text . ."
                                 ". intro-text intro-svg . ."
                                 ". intro-text . .";
            column-gap: 0px;
        }

        @include xl{
            grid-template-columns: auto 600px 500px auto;
            grid-template-areas: ". intro-text . ."
                                 ". intro-text intro-svg ."
                                 ". intro-text . .";
        }


        #intro-text{
            grid-area: intro-text;

            padding: 30px 15px;
            border: 5px white solid;
            border-radius: 80px;
            color: var(--darkpurple);
        

            @include md{
                max-width: 450px;
            }

            @include xl{
                max-width: 550px;
            }

            #intro-title{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                
                h2{

                    font-size: rem-calc(26);
                    margin: 10px 0px;
                
                    @include md{
                        font-size: rem-calc(64); 
                        margin: 55px 0px;
                    }
                }
            }

            #intro-p{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                p{
                    font-size: rem-calc(16);
                    line-height: rem-calc(20);
                    font-weight: 700;
                    padding: 0px 10px 16px 10px;
                    
                    @include md{
                        font-size: rem-calc(18); 
                        line-height: rem-calc(25);
                        padding: 0px 16px 16px 16px;
                    }
                }
                #intro-list{
                    font-family: 'Montserrat', sans-serif;
                    padding: 10px 16px 16px 16px;
    
                }
            }
        }
        #crab{
            grid-area: intro-svg;  
        }

        #intro-illustration-container{

            display: flex;
            justify-content: center;
            align-items: center;

            height: 100%;
            width: 100%;

            #intro-illustrations{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 100%;

                @include md{
                    display: grid;
                    grid-template-columns:auto;
                    grid-template-areas:"intro-svg-1";
                }
            }

        }

    }
    
    #beginning-illustrations{
        grid-area: intro-svg-1;
        width: 50%;
    
        @include md{
            width: 90%;
        }
    }
}