/* =============
    Life
============= */

#life{
    height: 100%;
    width: 100vw;
    margin-top: -90px;

    @include xl{
        margin-top: -185px; 
    }

    #purpleWave{
        width: 100%;
        margin-bottom: -15px;
    }
    #life-content-cotainer{

        @include xl{
            grid-template-columns: auto 1200px auto;
            grid-template-areas: ". food-contain .";
        }


        @include xl{
            grid-template-columns: auto 4000px auto;
            grid-template-areas: ". food-contain .";
        }
    }

    #life-content{
        grid-area: food-contain;
        height: 100%;
        width: 100%;
        background-color: var(--purple);

        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". life-text ."
                             ". life-image .";
        row-gap: 30px;
        padding-top: 5%;
        padding-bottom: 25%;

        @include md{
            grid-template-columns: auto 45% auto auto;
            grid-template-areas: ". life-text . ."
                                 ". life-text life-image ."
                                 ". life-text . .";
            padding-bottom: 15%;
            column-gap: 30px;
        }

        @include lg{
            grid-template-columns: auto 40% auto 4%;
            grid-template-areas: ". life-text . ."
                                 ". life-text life-image ."
                                 ". life-text . .";
        }

        @include xl{
            grid-template-columns: auto 600px 500px auto;
            grid-template-areas: ". life-text . ."
                                 ". life-text life-image."
                                 ". life-text . .";
        }


        #life-text{
            grid-area: life-text;

            padding: 30px 15px;
            border: 5px white solid;
            border-radius: 80px;
            color: var(--lightpink);
        

            @include md{
                max-width: 450px;
            }

            @include xl{
                max-width: 550px;
            }

            #life-title{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                
                h2{

                    font-size: rem-calc(26);
                    margin: 10px 0px;
                
                    @include md{
                        font-size: rem-calc(64); 
                        margin: 55px 0px;
                    }
                }
            }

            #life-p{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                p{
                    font-size: rem-calc(16);
                    line-height: rem-calc(20);
                    padding: 0px 10px 16px 10px;
                    font-weight: 700;
                    
                    @include md{
                        font-size: rem-calc(18); 
                        line-height: rem-calc(25);
                        padding: 0px 16px 16px 16px;
                    }
                }

                .bullets{
                    font-family: 'Montserrat', sans-serif;
                    padding: 0px 16px 5px 16px;
                }
            }
        }

        #life-image-container{
            grid-area: life-image;

            display: flex;
            justify-content: center;
            align-items: center;

            height: 100%;
            width: 100%;

            #life-image-ul{
                height: 100%;
                width: 100%;

                display: grid;
                grid-template-columns: auto 200px auto;
                grid-template-areas:". life-image-1 .";

                @include md{
                    display: grid;
                    grid-template-columns: auto 200px auto ;
                    grid-template-areas: ". life-image-1 ."
                                         ". life-image-2 .";
                    row-gap: 10px;
                }
            }

        }

    }

    
}
.life-svg{
    height: 100%;
    width: 100%;

}

#tan-star-top{
    grid-area: life-image-1;
    margin-top: -30px;
    margin-left: 150px;

    height: 100px;
    width: 100px;

    @include md{
        height: 150px;
        width: 150px;
        margin-top: -50px;
        margin-left: 110px;
    }
}

#tan-star-bottom{
    grid-area: life-image-2;
    display: none;

    @include md{
        display: list-item;

        height: 150px;
        width: 150px;
        margin-top: 130px;
        margin-left: -45px;
    }

}

.life-image{
    background-position: center;
    background-size: cover; 
    border: solid white 5px;
    border-radius: 10%;
    height: 200px; 
    width: 200px;
}

#life-image-1{
    grid-area: life-image-1;
    background-image: url("../img/HC3.jpg"); 
}

#life-image-2{
    grid-area: life-image-2;
    background-image: url("../img/HC4.jpg");
    display: none;

    @include md{
        display: list-item;
    } 
}
.life-fancybox{
    height: 200px;
    width: 200px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: rem-calc(20);
    color: transparent;
}

.fancybox__container {
    --fancybox-bg: rgba(46, 24, 69, 0.85);
}
.fancybox__container .fancybox__content {
    box-sizing: content-box;
    padding: 1rem;
    background: #fff;
  
    border-radius: 6px;
    box-shadow: 0 8px 23px rgb(0 0 0 / 50%);
}