/* =============
    Shell
============= */

/* =============
    Shell
============= */

#shell{
    height: 100%;
    width: 100vw;
    margin-top: -90px;

    @include xl{
        margin-top: -180px; 
    }
    
    #pinkWave{
        width: 100%;
        margin-bottom: -15px;
        z-index: 2;
    }

    .shell{
        background-color: var(--pink);
        height: 100%;
        width: 100%;
        display: flex;
        padding-bottom: 15%;
        color: var(--tan);

        display: grid;
		grid-template-areas: ". contain .";
		grid-template-columns: 16px auto 16px;

        @include xl{
            display: grid;
		    grid-template-areas: ". contain .";
		    grid-template-columns: auto 1200px auto;
        }

    #shell-content-container{
        grid-area: contain;

        border: 5px white solid;
        border-radius: 80px;
        max-width: 1200px;
        margin: 30px 0px;
        padding: 20px 0px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @include md{
            padding: 50px 30px;
        }
        @include lg{
            margin: 30px 40px;
        }

         @include xl{
            //padding: 100px 0px;
        }

         #shell-title{
            grid-area: shell-title;
           
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h2{
                font-size: rem-calc(26);

                @include md{
                    font-size: rem-calc(64); 
                }
            }

            h3{
                font-size: rem-calc(16);

                @include md{
                    font-size: rem-calc(24); 
                }
            }
        }

        #shell-svg-container{
            height: 100%;
            display: grid;
            grid-template-columns: auto;
            grid-template-areas: ". hermit ."
                                 "color-left-top hermit color-right-top"
                                 ". hermit .";

            @include md{
                display: grid;
                grid-template-columns: auto auto auto;
                grid-template-areas: ". hermit ."
                                     "color-left-top hermit color-right-top"
                                     "color-left-bottom hermit color-right-bottom"
                                     ". hermit .";
               grid-template-rows: repeat(4,1fr);
               row-gap: 5px;
            }

        }
            #shell-svgs{
                grid-area: hermit;

                display: grid;
		        grid-template-areas: "shell";
		        grid-template-columns: auto;

                padding-top: 10vh;
                
                >div{
                    
                    >svg{
                        width: 200px;

                        @include md{
                            width: 200px;
                        }

                        @include lg{
                            width: 300px;
                        }
                    }   
                }

                #crab-body{
                    grid-area: shell;

                    z-index: 2;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                }

                #shells{
                    grid-area: shell;
                    z-index: 1;

                    margin-top: -10vh;

                    display: flex;

                    @include lg{
                        margin-top: -15vh;
                    }

                    #main-shell-left{
                        position: relative;
                    }
                    #main-shell-right{
                        position: relative;
                    }

                }
            
            }

            #shell-p{

                p{
                    font-size: rem-calc(16);
                    line-height: rem-calc(20);
                    padding: 0px 10px 16px 10px;
                    text-align: center;
        
                    @include md{
                        font-size: rem-calc(18); 
                        line-height: rem-calc(25);
                        padding: 0px 16px 16px 16px;
                    }
                }
            }
        }
        
    }
            
    .color-svg-li{
        max-height: 76px;
        max-width: 76px;
        cursor: pointer;

    }
    
    .color-svg{
        max-height: 76px;
        max-width: 76px;
    }

    #l-top{
        width: 100%;
        grid-area: color-left-top;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 5px;
    }
    #l-bottom{
        grid-area: color-left-bottom;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 5px;
    }
    #r-top{
        grid-area: color-right-top;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 5px;
    }
    #r-bottom{
        grid-area: color-right-bottom;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 5px;
    }

    #s-1{
        grid-area: s1;
        min-height: 76px;
        min-width: 76px;
    }

    #s-2{
        grid-area: s2;
        display: none;

        @include md{
            display: list-item;
            min-height: 76px;
            min-width: 76px;
        }
    }

    #s-3{
        grid-area: s3;
        display: none;

        @include md{
            display: list-item;
            min-height: 76px;
            min-width: 76px;
        }
    }

    #s-4{
        grid-area: s4;
        display: none;

        @include md{
            display: list-item;
            min-height: 76px;
            min-width: 76px;
        }
    }

    #s-5{
        grid-area: s5;
        display: none;

        @include md{
            display: list-item;
            min-height: 76px;
            min-width: 76px;
        }
    }
    #s-6{
        grid-area: s6;
        display: none;

        @include md{
            display: list-item;
            min-height: 76px;
            min-width: 76px;
        }
    }

    #s-7{
        grid-area: s7;
        // display: none;
        min-height: 76px;
            min-width: 76px;

        @include md{
            // display: list-item;
            // min-height: 76px;
            // min-width: 76px;
        }
    }

    #s-8{
        grid-area: s8;
        display: none;

        @include md{
            display: list-item;
            min-height: 76px;
            min-width: 76px;
        }
    }

    #s-9{
        grid-area: s9;
        display: none;

        @include md{
            display: list-item;
            min-height: 76px;
            min-width: 76px;
        }
    }

    #s-10{
        grid-area: s10;
        display: none;

        @include md{
            display: list-item;
            min-height: 76px;
            min-width: 76px;
        }
    }

    #s-11{
        grid-area: s11;
        display: none;

        @include md{
            display: list-item;
            min-height: 76px;
            min-width: 76px;
        }
    }

    #s-12{
        grid-area: s12;
        display: none;

        @include md{
            display: list-item;
            min-height: 76px;
            min-width: 76px;
        }
    }
}