/* =============
    Header
============= */

header {
	background-color: var(--purple);
	left: 0;
	// position: fixed;
	top: 0;
	width: 100%;

		#navigation-contain{
			@include xl{

				display: grid;
			grid-template-areas: ". contain .";
			grid-template-columns: auto 1200px auto;

			}
		
		#navigation-header {

			grid-area: contain;
			display: grid;
			grid-template-areas: "survival search burger"
								 ". nav nav";
			grid-template-columns: 20% 60% 20%
			auto auto auto;
			padding-left: 16px;
			// padding-top: 32px;

			@include md{
				grid-template-columns: 10% auto 10%
			}
			
			@include lg {
				grid-template-areas: "survival nav search";
				grid-template-columns: 10% auto 20%;
				padding-right: 16px;
			}
			
			#logo-container {
				grid-area: survival;
				
			}

			.theme-switch-wrapper {
				grid-area: search;
				display: flex;
				align-items: center;
				justify-content: center;
				justify-content: column;

				width: 100%;
			  
				#light-dark-text {
				  margin-left: 10px;
				  font-size: 1rem;
				  color: white;
				  font-family: 'Open Sans', sans-serif;
				}
			}
			
			.theme-switch {
				display: inline-block;
				height: 34px;
				position: relative;
				width: 60px;
			}
			  
			  .theme-switch input {
				display:none;
			}
			  
			  .slider {
				background-color: var(--darkpurple);
				bottom: 0;
				cursor: pointer;
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
				transition: .4s;
			}
			  
			  .slider:before {
				background-color: var(--white);
				bottom: 4px;
				content: "";
				height: 26px;
				left: 4px;
				position: absolute;
				transition: .4s;
				width: 26px;
			}
			  
			  input:checked + .slider {
				background-color: var(--white);
			}
			  
			  input:checked + .slider:before {
				transform: translateX(26px);
				background-color: var(--darkpurple);
			}
			  
			  .slider.round {
				border-radius: 34px;
			}
			  
			  .slider.round:before {
				border-radius: 50%;
			}

			

			#burger-container {
				grid-area: burger;
				@include lg {
					display: none !important;
				}

				i {
					color: blue;
					cursor: pointer;
					font-size: rem-calc(50);
				}

			}

			#nav-container {
				display: none;
				grid-area: nav;
				padding: 20px 10px 10px;
				
				@include lg {
					display: block !important;
				}

				a{
					color: #fff;
					font-family: Staatliches;
					font-size: rem-calc(20);
				}
			}
		}
	}
}
